body {
    font-family: verdana;
    padding:10px;
    background: #101010;
    color: WhiteSmoke;
    overflow: hidden;
}

canvas{
    background: dodgerblue;
    width: 600px;
    height: 450px;
}

.slider {
    width: 100%;
    background-color: whitesmoke;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom:10px;
    outline: none;
    height:5px;
    -webkit-appearance: none;
    cursor: default;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    transition-duration: 0.3s;
    height: 20px;
}

hr{
    border:1px solid #0D3F9D; 
}

.unselectable {
    user-select: none;
}

button{
    font-family: verdana;
    font-size: 14px;
    color:whitesmoke;
    padding: 0.4em;
    transition-duration: 0.3s;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    outline: none}

button, .slider::-webkit-slider-thumb{
    border: 1px solid #05193D;
    background:#0D3F9D;
    outline: none;
}

/*darkens buttons when hovered*/
.slider::-webkit-slider-thumb:hover, button:hover{
    background: #05193D;
    cursor: pointer;
}

/*larger window mode*/
@media screen and (min-width: 1250px) {

    canvas{
        width: 1200px;
        height: 900px;
    }
}