:root {
	--ui-light: #1849A1;
	--ui-dark: #05193D;
	--ui-white: #EEE;
}

body {
	font: 13px verdana;
	margin: 8px;
	background: #101010;
	color: var(--ui-white);
}

::-webkit-scrollbar {
	width: 0 !important
}

#terrainbox{
	background: #2889FF;
	max-height: calc(100vh - 68.5px);
	max-width: calc(100vw - 16px);
}

.dropup-container{
	position: relative;
	display: inline-block;
}

.dropup {
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--ui-dark);
	min-width: 160px;
	padding: 2px;
	border-radius: 3px;
	z-index: 1;
	text-align: left;
	left: 0px;
	bottom: 50%;
}

.dropup-container:hover .dropup{
	display: flex;
}

.dropup a {
	line-height: 1.8em;
	padding:8px;
	background-color: var(--ui-light);
	transition-duration: 0.3s;
}


h2{
	font-size:150%;
	margin: 16px 0px 0px;
}

.slider {
	width: 100%;
	background: var(--ui-white);
	margin-bottom:10px;
	outline: none;
	height:4px;
	-webkit-appearance: none;
	cursor: default;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
}

hr{
	border:1.5px solid var(--ui-light); 
	box-shadow: 2px 2px var(--ui-dark);
}

.wide{
	min-width: 610px;
}

.unselectable {
	user-select: none;
}

img.unselectable {
	pointer-events: none;
}

.button-container {
	width:100%;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
}

button{
	font: 13px verdana;
	color: var(--ui-white);
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 0.5em 1.1em;
}

button, .slider::-webkit-slider-thumb{
	border-radius: 5px;
	border: 1px solid var(--ui-dark);
	transition-duration: 0.3s;
	background:var(--ui-light);
	outline: none;
	box-shadow: 1.5px 1.5px var(--ui-dark);
}

/*darkens buttons when hovered*/
.slider::-webkit-slider-thumb:hover, button:hover, .dropup a:hover{
	background: var(--ui-dark);
	cursor: pointer;
}

#credits{
	font-style: italic;
}

/*emojis for settings headers*/
#hillinessHeader::before{
	content: "⛰️ "
}

#humidityHeader::before{
	content: "💧 "
}

#seaLevelHeader::before{
	content: "🌊 "
}

#resolutionHeader::before{
	content: "🗺️ "
}